html{
    scroll-behavior: smooth;
}
#containerFounder,#locationContainer{
    width: 100%;
    height: 100vh;
    background-color: rgb(76, 76, 76);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}
#founderHeading,#locationHeading{
    padding-top: 3vw;
    width: 100%;
    height:10vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    letter-spacing: 2vw;
    font-family: "Sedan SC", serif;
    color: white;
}
#founderInfo,#locationInfo{
    width: 100%;
    height: auto;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
#containerInfo,#containerImage,#locationMap,#locationAdd{
    width: 500px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: justify;
    padding: 1vw;
    text-indent: 3vw;
    letter-spacing: 0.2vw;
    word-spacing: 0.2vw;
    line-height: 3vh;
}
.founderName{
    font-family: "Sedan SC", serif;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1vw;
    padding: 2vw;
    color: yellow;
}
.founderImage{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    box-shadow: 2px 2px 2px black,0px 0px 0px yellow,0px 0px 0px red,0px 0px 0px blue;
    /* animation: shadowAnimation 5s liear infinite both alternate; */
    animation: shadowAnimation 4s linear infinite both alternate;
}
@keyframes shadowAnimation {
    0%{
        box-shadow: 2px 2px 2px black,20px 20px 20px yellow,-20px-20px 20px red,20px 20px 0px blue;
    }
    25%{
        box-shadow: 2px 2px 2px black,-90px -90px 0px yellow,90px 90px 0px red,0px 20px 100px blue;
    }
    50%{
        box-shadow: 2px 2px 2px black,-60px -60px 100px yellow,-60px 60px 100px red,-10px 0px 100px blue;
    }
    75%{
        box-shadow: 2px 2px 2px black,-90px 60px 200px yellow,90px -60px 200px red,0px -10px 100px blue;
    }
    100%{
        box-shadow: 2px 2px 2px black,0px 0px 0px yellow,0px 0px 0px red,0px -20px 100px blue;
    } 
}
iframe{
    width: 90%;
    height: 30vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    position: relative;
    z-index: 3;
}
#locationAdd{
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 3vw;

}
#locationContainer{
    height: auto;
    padding-bottom: 3vh;
    position: relative;
}