*{
    padding: 0px;
    margin: 0px;
}
body{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(45deg,hotpink,Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerBgImg{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
.man{
    width: 200px;
}
#coolingGlass{
    position: absolute;
   transform: rotate(10deg) rotateY(180deg);
    filter: drop-shadow(2px 2px 1px black);
    animation: cooling 10s infinite both  alternate ease-in-out;

}
#purse{
    position: absolute;
    right: 3vw;
    transform: rotate(10deg) rotateY(180deg);
    filter: drop-shadow(2px 2px 1px black);
     animation: purse 10s infinite both  reverse ease-in;
} 
#Shoe{
    position: absolute;
    bottom: 3vw;
    transform: rotate(20deg) rotateY(180deg);
    filter: drop-shadow(2px 2px 1px black);
    animation: Shoes 10s infinite both  alternate-reverse linear; 
}
#watches{
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    transform: rotate(155deg) rotateY(180deg);
    filter: drop-shadow(2px 2px 1px black);
     animation: purse 10s infinite both  reverse ease-in; 

}
@keyframes cooling{
    0%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    25%{
        transform: translate(400px,200px) rotateY(180deg);
    }
    50%{
        transform: translate(600px,-150px) rotateY(180deg);
    }
    75%{
        transform: translate(0px,650px) rotateY(180deg);
    }
    100%{
        transform: translate(600px,650px) rotateY(180deg);
    }
}
@keyframes purse{
    0%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    25%{
        transform: translate(-400px,200px) rotateY(180deg);
    }
    50%{
        transform: translate(-600px,-150px) rotateY(180deg);
    }
    75%{
        transform: translate(0px,450px) rotateY(180deg);
    }
    100%{
        transform: translate(100px,350px) rotateY(180deg);
    }
}
@keyframes  Shoes{
    0%{
        transform: translate(0px,0px) rotateY(180deg);
    }
    25%{
        transform: translate(400px,-200px) rotateY(180deg);
    }
    50%{
        transform: translate(600px,-150px) rotateY(180deg);
    }
    75%{
        transform: translate(0px,-450px) rotateY(180deg);
    }
    100%{
        transform: translate(100px,-350px) rotateY(180deg);
    }
}
#loginContainer{
    width: 50vw;
    height: 30vw;
    background-color: rgba(0,0, 0,0.625);
    border-radius: 1vw;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow: 0.1vw 0.1vw 0.2vw black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#passVis{
    width: 2.5vw;
    cursor: pointer;
    transition: all 0.5s;
}
#passVis:hover{
    transform: rotate(-20deg);
    filter: hue-rotate(125deg);
}
#loginHeading{
    color: yellow;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-size: 3vw;
}
#email,#passContainer{
    width: 80%;
    height: 3vw;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 0.5vw solid white;
    color: white;
    letter-spacing: 1vw;
    font-size: 2vw;
    box-shadow: 0px 5px 2px black;
}
#email::placeholder,#pass::placeholder{
    color: white;
    letter-spacing: 1vw;
    font-size: 2vw;
}
#passContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pass{
    width: 90%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 2vw;
    letter-spacing: 1vw;
}
#login{
    width: 40%;
    height: 3vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-color: royalblue;
    border: none;
    outline: none;
    font-size: 2vw;
   
    letter-spacing: 1vw;
    font-weight: bold;
    color: white;

}
#login:hover{
    animation: buttonAnimation 0.5s 1 both alternate;
    cursor: pointer;
}
@keyframes buttonAnimation {
    0%,100%{
        transform: rotate(0deg) skew(0deg,0deg);
    }
    25%{
        transform: rotate(10deg) skew(5deg,10deg);
    }
    50%{
        transform: rotate(-10deg) skew(-5deg,-10deg);
    }
    75%{
        transform: rotate(15deg) skew(7deg,15deg);
    }
}
a{
    color: white;
    text-decoration: none;
    letter-spacing: 0.5vw;
    font-size: 1.5vw;
}
#log{
    width: 60%;
    height: 3vw;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px black; */
    background-color: transparent;
    border: none;
    /* outline: none; */
    font-size: 2vw;
    letter-spacing: 1vw;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}